APP_NAME=Harbor API
APP_ENV=development
API_PREFIX=/api/v1
DEBUG=true

SUPABASE_URL=your_supabase_project_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_server_secret

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DIMENSION=384

GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=your_groq_model

JWT_SECRET_KEY=your_long_random_jwt_secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

# Monday.com
MONDAY_API_TOKEN=
MONDAY_BOARD_ID=5031329288
MONDAY_GROUP_ID=topics

MONDAY_HARBOR_TICKET_ID_COLUMN_ID=text_mm77n14z
MONDAY_STATUS_COLUMN_ID=color_mm77cf6n
MONDAY_IDEMPOTENCY_KEY_COLUMN_ID=text_mm77pmz5
MONDAY_DESCRIPTION_COLUMN_ID=text_mm77drt
MONDAY_SEVERITY_COLUMN_ID=color_mm77eh43

MONDAY_API_URL=https://api.monday.com/v2